<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.SysMenuDao">


    <!--  根据id删除菜单信息  -->
    <delete id="deleteSysMenu">
        DELETE FROM sys_menus
        <where>
            id=#{id}
        </where>
    </delete>
    <!--根据id查询子菜单信息-->
    <select id="getMenuRows" resultType="int">
        SELECT COUNT(*) FROM sys_menus WHERE parentId = #{id}
    </select>
    <!--查询所有菜单以及对应上级菜单的名称-->
    <select id="findMenus" resultType="map">
        <!--  方案一
        select c.*,p.name parentName
          from sys_menus c left join sys_menus p
          on c.parentId=p.id -->
        <!-- 方案1：嵌套查询
          select c.*,(select name
                      from sys_menus p
                      where c.parentId=p.id) parentName
          from sys_menus c
          -->
        <!-- 方案2：表关联查询 -->
        SELECT c.id,c.name,c.url,c.type,c.sort,c.note,c.parentId,c.permission,c.createdTime,c.modifiedTime,c.createdUser,c.modifiedUser,
        p.name parentName
        FROM sys_menus c
        LEFT JOIN sys_menus p
        ON c.parentId = p.id
    </select>
<!--查询菜单节点-->
    <select id="doFindZtreeMenuNodes" resultType="com.cy.pj.sys.common.vo.zTree">
    SELECT id,name,parentId FROM sys_menus
</select>
    <!--新增菜单信息-->
    <insert id="doSaveObject">
        INSERT INTO sys_menus (name,url,type,sort,note,parentId,permission,createdUser,modifiedUser,createdTime,modifiedTime)
        values
        (#{name},#{url},#{type},#{sort},#{note},#{parentId},#{permission},#{createdUser},#{modifiedUser},now(),now())
    </insert>
    <!--修改菜单信息-->
    <update id="doUpdateObject">
        UPDATE sys_menus SET name=#{name},url=#{url},type=#{type},
        sort=#{sort},note=#{note},parentId=#{parentId},permission=#{permission},createdUser=#{createdUser},
        modifiedUser=#{modifiedUser},modifiedTime=now()
        WHERE id = #{id}
    </update>
</mapper>